{% liquid
  case button_class
    when 'cloud'
      assign button_classes = 'bg-white text-dark-gray'
    when 'chocolate'
      assign button_classes = 'bg-chocolate text-white'
    when 'grass'
      assign button_classes = 'bg-[#818308] text-white'
      assign bg_class = 'bg-[#989b0b]'
  endcase
%}

{% if button_url %}
  <a
    href="{{ button_url }}"
    class="w-48 h-14 p-1 relative group {{ button_classes }} rounded-full overflow-hidden {{ custom_class }}"
    aria-label="{{ button_text }}">
    <div class="rounded-full w-full h-full flex items-center justify-center relative z-10 uppercase text-sm">
      <span>{{ button_text }}</span>
    </div>
    <div class="{{ bg_class }} absolute w-full h-full top-0 left-0 right-0 z-[5] transform translate-y-[100%] lg:group-hover:translate-y-0 transition-all duration-500"></div>
  </a>
{% else %}
  <button href="{{ button_url }}" class="w-48 h-14 p-1 relative group {{ button_classes }} rounded-full overflow-hidden {{ custom_class }}">
    <div class="rounded-full w-full h-full flex items-center justify-center relative z-10 uppercase text-sm">
      <span>{{ button_text }}</span>
    </div>
    <div class="{{ bg_class }} absolute w-full h-full top-0 left-0 right-0 z-[5] transform translate-y-[100%] lg:group-hover:translate-y-0 transition-all duration-500"></div>
  </button>
{% endif %}